<% provide( :title, "Palmer Games")%>
<div class="center hero-unit">
  <h1>Welcome to palmer games</h1>

  <h2>
  </h2>
  <% if !signed_in? %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <%end%>
  <h3>Top Games</h3>
  <% @tops = Game.all.order(times_played: :desc).take(3) %>

  <%=render @tops%> 
</div>
