<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <!--%= gravatar_for @user %-->
        User page for: 
        <%= @user.name %>
        <br/>
        <%= @user.email %>
        <br/>
      </h1>
      <br/>
      <div>
        Recent Scores<br/>
        <%= render Score.where(user_id:@user.id).order(created_at: :desc).take(5) %>
        <!--%= @user.messages %-->
      </div>
    </section>
  </aside>
</div>