<% targ = games_path + "/" + game.id.to_s %>
<tr>
			<td><%=link_to game.name, targ%></td><td>  Times played: <%=Score.where(game_id:game.id).count%> </td> <td>High Score: 
			<% @highscore=Score.where(game_id:game.id).order(value: :desc).first %>
			<%= render @highscore %> </td>
</tr>