<footer class="footer">
  <small>
    <a>Palmer Games</a>
    by Palmer
  </small>
  <nav>
    <ul>
      <li><%= link_to "New User",   new_user_path %></li>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </nav>
</footer>