<footer class="footer">
  <small>
    <a>Palmer Games</a>
    by Palmer
  </small>
  <nav>
    <ul>
      <% if !signed_in? %>
        <li><%= link_to "New User",   new_user_path %></li>
      <% else%>
        <% targ = users_path+"/"+current_user.id.to_s%>
        <li><%= link_to "Profile", targ %></li>
      <% end %>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </nav>
</footer>